.user-card {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: url('/home/itamar/GamerDen/GamerDen/Frontend/src/images/background-black3.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #fff;
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
    position: relative;
}

.card-title,
.card-text {
    align-items: baseline !important;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    flex-shrink: 0;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 1.2em;
    /* Ensure the icon size remains consistent */
}

.icon-text {
    vertical-align: middle;
    word-wrap: break-word;
    flex-grow: 1;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-text {
    font-size: 12px;
    margin-right: 5px;
    color: #ffd700;
}

.star {
    color: #ffd700;
    margin-right: 2px;
    font-size: 12px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.game-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn .icon {
    margin-right: 5px;
}